{% extends "::base.html.twig" %}

{% block title %}Repository Monitor{% endblock title %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/sparkrepositorymonitor/css/layout/metisMenu/metisMenu.min.css') }}" rel="stylesheet">

    <link href="{{ asset('bundles/sparkrepositorymonitor/css/layout/sb-admin/sb-admin-2.css') }}" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock stylesheets %}

{% block body %}
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('spark_repository_monitor_client_list') }}">Repository Monitor</a>
            </div>
            {% include "@SparkRepositoryMonitor/Menu/_left_menu.html.twig" with {'platforms': getPlatforms()} only %}
            <ul class="nav navbar-top-links navbar-right">
                {% include "@SparkRepositoryMonitor/Menu/_top_settings_menu.html.twig" only %}
            </ul>
            <ul class="nav navbar-top-links text-center">
                <li>
                    <div class="col-lg-2 col-lg-offset-5">
                        <a href="{{ path('spark_repository_monitor_client_refresh_deployment_status') }}"
                           class="btn btn-primary">Refresh Deployed Versions</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="page-wrapper">
            {% block content %}
                {% set clients = getPlatforms() %}
                {% set colors = ['primary', 'green', 'yellow', 'red'] %}

                {% for client in clients %}
                    {% if client.applications|length > 0 %}
                        <div class="panel panel-default" id="{{ client.code }}">
                            <div class="panel-heading" id="{{ client.code }}-heading">
                                <h3 class="panel-title"><a role="button" data-toggle="collapse"
                                                           data-parent="#{{ client.code }}"
                                                           href="#{{ client.code }}-collapse"
                                                           aria-expanded="true"
                                                           aria-controls="{{ client.code }}-collapse">{{ client.name }}</a>
                                </h3>
                            </div>
                            <div id="{{ client.code }}-collapse" class="panel-collapse collapse in" role="tabpanel"
                                 aria-labelledby="{{ client.code }}-heading">
                                <div class="panel-body">
                                    {% set nbOfApplications = (client.applications|length) %}
                                    {% if nbOfApplications > 4 %}
                                        {% set lgCol = 3 %}
                                        {% set mdCol = 6 %}
                                    {% elseif nbOfApplications > 0 %}
                                        {% set lgCol = 12 / nbOfApplications|number_format(0) %}
                                        {% set mdCol = 12 / nbOfApplications|number_format(0) %}
                                    {% endif %}
                                    <div class="row">
                                        {% for application in client.applications %}
                                            {% set color = colors[loop.index0 % 4] %}
                                            <div class="col-lg-{{ lgCol }} col-md-{{ mdCol }}">
                                                <div class="panel panel-{{ color }}">
                                                    <div class="panel-heading">
                                                        <div class="row">
                                                            <div class="col-xs-3">
                                                                <i class="fa fa-tasks fa-5x"></i>
                                                            </div>
                                                            <div class="col-xs-9 text-right">
                                                                {% if application.version.build|default(false) %}
                                                                    <div class="huge">{{ application.version.build }}</div>
                                                                    <div>{{ application.version.date|date("Y-m-d H:i:s") }}</div>
                                                                {% endif %}
                                                                <div>{{ application.name }}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="{{ path('spark_repository_monitor_application_display', {'slug': application.slug }) }}">
                                                        <div class="panel-footer">
                                                            <span class="pull-left">View Details</span>
                                                        <span class="pull-right"><i
                                                                    class="fa fa-arrow-circle-right"></i></span>

                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endblock content %}
        </div>
    </div>
{% endblock body %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/sparkrepositorymonitor/js/layout/metisMenu/metisMenu.min.js') }}"></script>
    <script src="{{ asset('bundles/sparkrepositorymonitor/js/layout/sb-admin/sb-admin-2.js') }}"></script>
{% endblock javascripts %}