{% extends "@SparkRepositoryMonitor/layout.html.twig" %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="text-center">Code</th>
                <th class="text-center">Client Name</th>
                <th colspan="2" class="text-center">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for client in clients %}
                <tr>
                    <td>{{ client.code }}</td>
                    <td>{{ client.name }}</td>
                    {% include "@SparkRepositoryMonitor/Admin/Table/_actions.html.twig" with {'editUrl': path('spark_repository_monitor_admin_client_edit', {'code': client.code}), 'deleteUrl': path('spark_repository_monitor_admin_client_delete', {'code': client.code})} only %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include "@SparkRepositoryMonitor/Pagination/pagination.html.twig" with {'pagination': clients} only %}
    </div>
    <a href="{{ path('spark_repository_monitor_admin_client_create') }}" class="btn btn-primary">Create a new client</a>
{% endblock content %}