{% extends "@SparkRepositoryMonitor/layout.html.twig" %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="text-center">Client</th>
                <th class="text-center">App Name</th>
                <th colspan="3" class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for application in applications %}
                <tr>
                    <td>{{ application.client.name }}</td>
                    <td>{{ application.name }}</td>
                    {% include "@SparkRepositoryMonitor/Admin/Table/_actions.html.twig" with {'editUrl': path('spark_repository_monitor_admin_application_edit', {'slug': application.slug}), 'deleteUrl': path('spark_repository_monitor_admin_application_delete', {'slug': application.slug})} only %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include "@SparkRepositoryMonitor/Pagination/pagination.html.twig" with {'pagination': applications} only %}
    </div>
    <a href="{{ path('spark_repository_monitor_admin_application_create') }}" class="btn btn-primary">Declare a new
        application</a>
{% endblock content %}