{% if editUrl is defined and deleteUrl is defined %}
    <td class="text-center">
        <a href="{{ editUrl }}"
           class="btn btn-warning"><i class="fa fa-cog"></i> Edit</a>
    </td>
    <td class="text-center">
        <a href="{{ deleteUrl }}"
           class="btn btn-danger"><i class="fa fa-trash-o fa-lg"></i> Delete</a>
    </td>
{% endif %}