{% extends "@SparkRepositoryMonitor/layout.html.twig" %}

{% block content %}
    <div class="simple-horizontal-form">
        {{ form_start(form, {'action': path('spark_repository_monitor_admin_repository_edit', {'id': repository.id }), 'method': 'POST', 'attr': {'class': 'form-horizontal'}}) }}
        <div class="form-group">
            {{ form_label(form.uri, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.uri, {'attr': {'class': 'form-control'}}) }}
                <p class="help-block">{{ form_errors(form.uri) }}</p>
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.vcsProvider, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.vcsProvider, {'attr': {'class': 'form-control'}}) }}
                <p class="help-block">{{ form_errors(form.vcsProvider) }}</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock content %}