{% extends "@SparkRepositoryMonitor/layout.html.twig" %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="text-center">Uri</th>
                <th class="text-center">VCS Provider</th>
                <th class="text-center"># of Apps</th>
                <th colspan="2" class="text-center">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for repository in repositories %}
                <tr>
                    <td>{{ repository.uri }}</td>
                    <td>{{ repository.vcsProvider.name }}</td>
                    <td>{{ repository.applications|length }}</td>
                    {% include "@SparkRepositoryMonitor/Admin/Table/_actions.html.twig" with {'editUrl': path('spark_repository_monitor_admin_repository_edit', {'id': repository.id}), 'deleteUrl': path('spark_repository_monitor_admin_repository_delete', {'id': repository.id})} only %}
                </tr>

            {% endfor %}
            </tbody>
        </table>
        {% include "@SparkRepositoryMonitor/Pagination/pagination.html.twig" with {'pagination': repositories} only %}
    </div>
    <a href="{{ path('spark_repository_monitor_admin_repository_create') }}" class="btn btn-primary">Declare a new
        repository</a>
{% endblock content %}