<tr data-lower-tag="{{ lowerTag }}" data-upper-tag="{{ upperTag }}" class="table-row">
    <td>{{ tag|default('NO-TAG') }}</td>
    <td>
        {% set logs = data['changeLog'] %}
        {% set ticketList = data['tickets'] %}
        <table>
            {% if errors|length > 0 %}
                {% for error in errors %}
                    <tr>
                        <td colspan="2">{{ error }}</td>
                    </tr>
                {% endfor %}
            {% elseif logs|length > 0 %}
                <tr class="separated">
                    <td><b>Tickets</b></td>
                    <td>{{ ticketList|linkify|raw }}</td>
                </tr>
                {% for changeLog in logs %}
                    {% set changeLogData = changeLog|split(" ", 2) %}
                    {% set version = changeLogData[0] %}
                    {% set changeLogDetails = changeLogData[1] %}
                    <tr>
                        <td style="width: 100px;">{{ version }}</td>
                        <td>{{ changeLogDetails|linkify|raw }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </td>
</tr>
