{% extends "@SparkRepositoryMonitor/layout.html.twig" %}

    {% block content %}
        <h1 class="text-center">{{ application.name|title }}</h1>
        <div class="text-center">
            {% set currentVersion = application.versions.last|default(false) %}
            {% if currentVersion %}
                <span class="text-muted">
                            Deployed Version :
                    {{ currentVersion.build }}
                    {{ currentVersion.revision }}
                    {{ currentVersion.date|date('Y-m-d H:i') }}
                        </span>
            {% else %}
                No versions in database for the project
            {% endif %}
        </div>
        {% if (tags|length + remainingTags|length) > defaultShownTags %}
            <button id="showMore" class="btn btn-primary">Show More</button>
        {% endif %}
        <table id="results" class="table table-striped" data-tags="{{ remainingTags|json_encode }}"
               data-url="{{ path('spark_repository_monitor_application_ajax_change_log', {'slug': application.slug, 'upperTag': 'upper', 'lowerTag': 'lower'}) }}">
            <tr>
                <th class="col-xs-2">Tag</th>
                <th class="col-xs-10">Version & Change Logs</th>
            </tr>
            {% if errors|length > 0 %}
                {% for error in errors %}
                    <tr>
                        <td colspan="2">{{ error }}</td>
                    </tr>
                {% endfor %}
            {% endif %}

            {% for tagsData in tags|slice(0, defaultShownTags) %}
                {% for tagCouple, data in tagsData %}
                    {% set currentTagRange = tagCouple|split(" - ", 2) %}
                    {% set lowerTag = currentTagRange[0] %}
                    {% set upperTag = currentTagRange[1] %}
                    {% include "@SparkRepositoryMonitor/Application/_change_log_row.html.twig" with {'tag': tagCouple, 'upperTag': upperTag, 'lowerTag': lowerTag, 'errors': errors, 'data': data} only %}
                {% endfor %}
            {% else %}
                {% if errors|length == 0 %}
                    <tr>
                        <td colspan="2">Please execute the deployment-status refresh command from the dashboard
                            or
                            your command line tool
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endblock content %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts output="bundles/sparkrepositorymonitor/compiled/js/application/display.js" filter='uglifyjs2'
    '@SparkRepositoryMonitorBundle/Resources/public/js/application/display.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}