<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="{{ path('spark_repository_monitor_client_list') }}"><i class="fa fa-dashboard fa-fw"></i>
                    Dashboard</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="#"><i class="fa fa-wrench fa-fw"></i> Admin<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{{ path('spark_repository_monitor_admin_application_list') }}">Application</a>
                        </li>
                        <li>
                            <a href="{{ path('spark_repository_monitor_admin_client_list') }}">Client</a>
                        </li>
                        <li>
                            <a href="{{ path('spark_repository_monitor_admin_repository_list') }}">Repository</a>
                        </li>
                        <li>
                            <a href="{{ path('spark_repository_monitor_admin_vcs_provider_list') }}">Vcs Provider</a>
                        </li>
                    </ul>
                </li>
            {% endif %}
            {% if platforms is defined and platforms is iterable %}
                <li>
                    <a href="#platforms"><i class="fa fa-sitemap fa-fw"></i> Platforms<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        {% for client, platform in platforms %}
                            {% set hasApplications = platform.applications|length > 0 %}
                            <li>
                                <a href="#{{ client }}">{{ platform.name }} {% if hasApplications %}<span
                                            class="fa arrow"></span>{% endif %}</a>
                                {% if hasApplications %}
                                    <ul class="nav nav-third-level">
                                        {% for application in platform.applications %}
                                            <li>
                                                <a href="{{ path('spark_repository_monitor_application_display', {'slug': application.slug}) }}">{{ application.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>
</div>