<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
        {% if app.user %}
            <li><a href="{{ logout_url() }}"><i class="fa fa-sign-out fa-fw"></i>
                    Logout</a></li>
        {% else %}
            <li><a href="{{ login_url() }}"><i class="fa fa-sign-in fa-fw"></i> Login</a></li>
        {% endif %}
    </ul>
</li>