{% extends "@SparkRepositoryMonitor/layout.html.twig" %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Uri</th>
                <th class="text-center"># of Repositories</th>
                <th colspan="2" class="text-center">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for vcsProvider in vcsProviders %}
                <tr>
                    <td>{{ vcsProvider.name }}</td>
                    <td>{{ vcsProvider.uri }}</td>
                    <td class="text-center">{{ vcsProvider.repositories|length }}</td>
                    {% include "@SparkRepositoryMonitor/Admin/Table/_actions.html.twig" with {'editUrl': path('spark_repository_monitor_admin_vcs_provider_edit', {'id': vcsProvider.id}), 'deleteUrl': path('spark_repository_monitor_admin_vcs_provider_delete', {'id': vcsProvider.id})} only %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include "@SparkRepositoryMonitor/Pagination/pagination.html.twig" with {'pagination': vcsProviders} only %}
    </div>
    <a href="{{ path('spark_repository_monitor_admin_vcs_provider_create') }}" class="btn btn-primary">Declare a new vcs
        provider</a>
{% endblock content %}